*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Familjen Grotesk', sans-serif;
}

header{
    display: flex;
    align-items: center;
}
header img{
    height: 2em;
    margin: 1em;
    opacity: 0.9;
}
header h1{
    font-size: 2em;
    text-transform: uppercase;
}

.container{
    margin: 2em auto;
    max-width: 30em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.082);
    padding: 2em;
    border-radius: 2em;
}

form{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
form input{
    max-width: 10em;
    font-size: 1em;
    background-color: aliceblue;
    border: none;
    padding: 0.5em;
    border-radius: 0.2em;
    margin: 0 auto;
}
form input[type="number"]::-webkit-inner-spin-button,
form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield;
}

form button{
    background-color: rgb(0, 0, 0);
    font-size: 2em;
    border: none;
    cursor: pointer;
    border-radius: 0.2em;
    width: 1.2em;
    margin: 0 auto;
    color: white;
}

table{
    width: 100%;
}
table th{
    border-bottom: 1px solid white;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    font-weight: 400;
}
table td{
    border-bottom: 1px solid white;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    font-weight: 400;
}

