*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
/*
#f9f5f2;
#ead9cc;
#847c79;
#3d3531;
*/

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
body{
    background-color: #f9f5f2;
}
.separador{ /* Barra horizontal separadora com div*/
    background-color: #847c79; 
    padding: 0.05em;
    margin: 0.5em 0;
}
h2{
    color: #3d3531;
    font-weight: 600;
}



header{
    padding: 2em 0;
    background-color: #3d3531;
}
header .container{
    display: flex;
    align-items: center;
}
header nav li, .brands-list li{
    display: inline;
    margin-left: 2em;
}
header nav li a{
    color:#ead9cc;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;
}
header img{
    height: 4em;
    margin-right: 1em;
}
header h1{
    font-size: 3em;
}
.lista-hdr{ 
    display: flex;
    justify-content: flex-end; /* Assim mantenho o logo e o titulo juntos e a lista nav a direita*/
}



section .container{ /* Separado do container do header pq aqui eu tenho o space-between*/
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.brands-list img{
    height: 6em;
    margin-top: 2em;
}
.brands-list li{ /* Coloquei para deixar a lista em linha*/
    display: inline;
}
.loja img{ /* Tamanho da imagem do logo*/
    height: 40em;
    margin-right: 3em;
    border-radius: 1em;;
}
section{
    padding-top: 3em;
}
section p{
    margin-bottom: 1em;
    color: #3d3531;
    font-weight: 500;
}


.menu{ /*menu responsivo*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu img{ 
    max-width: 200px;
    width: 125%;
    border-radius: 1em;
    object-fit: cover; /* Mantenho a imagem cabendo dentro do espaço "fit"*/
    
}
.itens{
    max-width: 14%; /* Dividir o menu entre as imagens*/
}


.form-red{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
form{
    width: 60%;
}
form input, textarea{
    display: block;
    width: 720px;
    height: 3em;
    margin-bottom: 0.5em;
    border: solid 0.05em #3d3531;
    padding: 1em;
    background-color:#f9f5f2;
    color: #3d3531;
}
.formus img{
    height: 25em;
    margin-right: 2em;
}
.formus{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
textarea{
    resize: none;
    height: 10em;
}
button{
    background-color: #3d3531;
    color: #ead9cc;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em;
    width: 10em;
    display: block;
    margin: 2em auto auto auto;
    border-radius: 0.5em;
}




footer{
    margin-top: 2em;
    background-color: #3d3531;
    color: #ead9cc;
    padding: 2em;
    display: flex;
    justify-content: flex-end;
}



