*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Familjen Grotesk', sans-serif;
}

.container{
    max-width: 20em;
    width: 100%;
    margin: 0 auto;
    margin-top: 3em;
    background-color: rgba(0, 0, 0, 0.068);
    padding: 2em;
    border-radius: 2em;
}
.container h2{
    margin-bottom: 1em;
}

form{
    max-width: 18em;
}
.form-campo{
    margin-bottom: 0.5em;
}
.form-campo label{
    margin-bottom: 0.5em;
    display: block;
    font-weight: 600;
}
.form-campo input{
    width: 100%;
    display: block;
    padding: 0.5em;
    border-radius: 0.2em;
    border: none;
}
/*Remover setas numéricas*/
form input[type="number"]::-webkit-inner-spin-button,
form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
/*Remover setas numéricas mozila*/
input[type=number] {
    -moz-appearance: textfield;
}

form button{
    width: 100%;
    align-items: center;
    margin-top: 1em;
    padding: 0.5em;
    font-weight: 600;
    border: none;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 0.5em;
    cursor: pointer;
}
/*classe para aplicar um estilo ao span das mensagens js*/
.error-message{
    color: rgb(255, 0, 0);
    font-weight: 500;
    font-size: 0.8em;
    opacity: 0.7;
}