@import "mapas.less";
@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

//mixins
.marginBottom05{
    margin-bottom: 0.5em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #colors[cor1];
}

li{
    list-style: none;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    @media @breakpointMobile{
        max-width: 80%;
        .products {
            display: block;
        }
    
        .products-item  {
            margin-bottom: 2em;
        }
    }

    @media @breakpointTablet{
        max-width: 90%;

        .products {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }
}



header {
    background-color: #colors[cor2];
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
    }

    .menu {
        display: flex;

        li {
            font-weight: bold;
            margin-left: 2em;
        }
        li a {
            color: #colors[cor4];
        }
    }

}

section {
    padding: 3.5em 0;

    .products {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 32.66%);
        column-gap: 1%;
        row-gap: 4%;
        width: 100%;

        &-item img {
            width: 100%;
            border-radius: 16px;
        }

        &-button {
            display: block;
            background-color:#colors[cor3] ;
            color: #colors[cor4] ;
            text-align: center;
            padding: 0.5em 0;
            border-radius: 0.5em;
            margin-top: 0.5em;
            text-decoration: none;

            &:hover{
                background-color: #colors[cor5] ;

            }
        }
    }
}

