@import "mapas.less";
@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

//mixins
.marginBottom05{
    margin-bottom: 0.5em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #colors[cor1];
}

.container{
    max-width: 50em;
    width: 100;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


    @media @breakpointMobile{
        max-width: 80%;
    }


    @media @breakpointTablet{
        max-width: 90%;
    }
}

li{
    list-style: none;
}

header{
    padding-bottom: 2em;

    .profile-avatar{
        display: block;
        margin: 0 auto 2em;
        border-radius: 100%;
        max-width: 10em;
    }
}

.profile-bio {
    color: #colors[cor3];
    text-align: center;
    &-name {
        font-size: 2em;
        .marginBottom05()
    }
    &-subtitle {
        font-size: 1em;
        .marginBottom05();
        color: #colors[cor2];
    }
    &-description {
        font-size: 1em;
        opacity: .8;
    }
}

.social-links{
    display: flex;
    justify-content: space-between;
    max-width: 10em;
    width: 100%;
    margin: 0 auto;


    li{
        img {
            transition: all ease .3s; //transição de animação para zoom
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}


.projects-list{
    margin-top: 2em;
    &-item{
        a{
            text-decoration: none;
            background-color: #colors[cor3];
            display: block;
            padding: 1em 1.25em;
            margin-bottom: 1em;
            text-align: center;
            color: #colors[cor1];
            font-weight: bold;
            border-radius: 2em;
            border: 2px solid #colors[cor3];
            transition: all ease .5s;

            &:hover{
                color: #colors[cor3] ;
                background-color: #colors[cor1];

            }
        }
    }
}
