body {
  background-color: #5AC3D9;
  font-family: Roboto, sans-serif;
  color: #3B393C;
}
h1 {
  font-family: Lobster, cursive;
  color: #3B393C;
  font-size: 3em;
}
main {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}
button {
  padding: 16px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 0.7em;
  border-radius: 8px;
  background-color: #FFCD03;
  border: solid 1px #FFCD03;
  color: #3B393C;
  font-family: Roboto, sans-serif;
}
input {
  display: block;
  margin: 16px auto 0;
  max-width: 2.5em;
  border: none;
  background-color: transparent;
  text-align: center;
  color: #FCFBF6;
  border-bottom: 4px solid #FCFBF6;
  font-size: 3em;
}
/* Remover botões de incremento e decremento para inputs do tipo number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}
.resultados {
  margin-top: 2em;
  display: none;
}
.resultados span {
  font-weight: bold;
  font-size: 3em;
  display: block;
}
