@use 'config/reset';
@use 'config/variaveis';

// config-geral
body {
    background-color: variaveis.$cor4;
}
li {
    list-style: none;
}
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

// header
header {
    background-color: variaveis.$cor1;
    position: sticky;
    top: 0;
    left: 0;

    .menu {
        display: flex;
    }

    .menu li {
        font-weight: bold;
        margin-left: 2em;
    }
    
    .menu li a {
        color: variaveis.$cor3;
        text-decoration: none;
    }
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}


// sections
section {
    padding: 3.5em 0;
}

.products {
    margin-top: 2.5em;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    .product-item img {
        width: 100%;
        border-radius: 1em;
    }

    .product-button {
        display: block;
        background-color: variaveis.$cor2;
        color: variaveis.$cor3;
        text-align: center;
        padding: 1em 0;
        border-radius: 1em;
        margin-top: 1em;
        text-decoration: none;

        &:hover{
            background-color: lighten(variaveis.$cor2, 5%);
        }
    }

}

// mobile first
@media screen and (max-width: variaveis.$mobile) {
    .products {
        display: block;

        .product-item  {
            margin-bottom: 2em;
        }
    }

}

@media screen and (max-width: variaveis.$tablet) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 1%;
    }
}


